{% schema %}
{
  "name": "Competitor Block",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>Our pods vs. their pods</h2>"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "tab_color",
      "label": "Tab Color",
      "default": "#f6f2f0"
    },
    {
      "type": "color",
      "id": "tab_color_highlight",
      "label": "Tab Color Highlight",
      "default": "#f5dadf"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Try Grind now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "competitor",
      "name": "Competitor",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Competitor Image"
        },
        {
          "type": "checkbox",
          "id": "main",
          "label": "Main"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "£0.00"
        },
        {
          "type": "textarea",
          "id": "features",
          "label": "Features (one per line)"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Competitor Block",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="competitor-comparison"
         style="background-color: {{ section.settings.background_color }};"
         data-tab-color="{{ section.settings.tab_color }}"
         data-tab-color-highlight="{{ section.settings.tab_color_highlight }}">
  <div class="container">
    <div class="competitor-comparison__container">

      {% if section.settings.heading != blank %}
      <div class="competitor-comparison__heading mb-5 mx-auto text-center">
        {{ section.settings.heading }}
      </div>
      {% endif %}

      <div class="competitor-comparison__tabs mb-4 mx-auto" role="tablist"
        style="background-color: {{ section.settings.tab_color }};">
        {% for block in section.blocks %}
        {% assign tab_id = 'tab-' | append: block.id %}
        {% assign panel_id = 'panel-' | append: block.id %}

        <button class="competitor-comparison__tab"
          role="tab" id="{{ tab_id }}" aria-controls="{{ panel_id }}"
          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
          tabindex="{% if forloop.first %}0{% else %}-1{% endif %}">
          {{ block.settings.name }}
        </button>
        {% endfor %}
      </div>

      <div class="competitor-comparison__grid">
        {% for block in section.blocks %}
        <div class="competitor-comparison__block" id="panel-{{ block.id }}" role="tabpanel"
          aria-labelledby="tab-{{ block.id }}">
          {% if block.settings.image %}
          <img src="{{ block.settings.image | img_url: '400x' }}" alt="Competitor image"
            class="competitor-comparison__image" height="160px" width="160px">
          {% endif %}

          {% if block.settings.price %}
          <p class="competitor-comparison__price mb-2">
            <span class="competitor-comparison__price-item">From</span>
            <span class="competitor-comparison__price-total mt-2">{{ block.settings.price }}</span>
            <span class="competitor-comparison__price-item">Per month</span>
          </p>
          {% endif %}

          {% if block.settings.features %}
          <ul
            class="competitor-comparison__features text-center {% if block.settings.main %}competitor-comparison__features--positive{% endif %}">
            {% assign features = block.settings.features | newline_to_br | split: '<br />' %}
            {% for feature in features %}
            <li class="competitor-comparison__features-item">{{ feature }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
      <div class="col-12 mx-auto text-center">
        <a href="{{ section.settings.button_link }}" class="competitor-comparison__cta btn">
          {{ section.settings.button_text }}
        </a>
      </div>
      {% endif %}

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>